.app.dark {
  --bg-color: #0000ff;
  --inverted-bg-color: #ffffff;

  --primary-color: #ff0000;
  --secondary-color: #000000;
  --inverted-primary-color: #000000;
  --inverted-secondary-color: #949393;
}
