.app.normal {
  --bg-color: #ffffff;
  --inverted-bg-color: #0000ff;

  --primary-color: #000000;
  --secondary-color: #949393;
  --inverted-primary-color: #ff0000;
  --inverted-secondary-color: #000000;
}
